* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.box1, .box2, .box3 {
    border: #000 solid 1px;
    margin: 1%;
}

.row {
    width: 100%;
}



/*----------Media Queries----------*/


@media (min-width: 992px) {
    .box1, .box2, .box3 {
        float: left;
        width: 31.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .box1, .box2 {
        width: 48%;
    }

    .box3 {
        width: 98%;
    }

    .box1, .box2, .box3 {
        float: left;
    }
}
    
